<!DOCTYPE html>
<html>
<head>
	<title>Chart</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" 
	href="../../node_modules/font-awesome/css/font-awesome.css">
		
</head>
<body>

<div class="wapper" ng-app="open-data" ng-controller="open-controller">

	<div id="header">
		<div class="main">
			<img src="../img/openpaas" />
		</div>
	</div>

	<div id="menu" class="fl-l"></div>


	<div id="content" class="fl-r">
		<div class="main">
			<div class="histogram-components">
				<div class="components-header"><i class="fa fa-puzzle-piece"></i> Components</div>
				<div class="components-detail">
					<i class="fa fa-question-circle-o"></i> : label data  
					<i class="fa fa-clock-o"></i> : data/time data  
					<i class="fa fa-list-ol"></i> : numberic data
				</div>
				<ul>
					<li id="c1" class="components" draggable="true" 
					ondragstart="drag(event)" data-type="0">
						<div class="text"><i class="fa fa-question-circle-o"></i> abccas</div>
						<div class="delete"><i class="fa fa-times"></i></div>
					</li>
					<li id="c2" class="components" draggable="true" 
					ondragstart="drag(event)" data-type="0">
						<div class="text"><i class="fa fa-question-circle-o"></i> abccas</div>
						<div class="delete"><i class="fa fa-times"></i></div>
					</li>
					<li id="c3" class="components" draggable="true" 
					ondragstart="drag(event)" data-type="0">
						<div class="text"><i class="fa fa-clock-o"></i> abccas</div>
						<div class="delete"><i class="fa fa-times"></i></div>
					</li>
					<li id="c4" class="components" draggable="true" 
					ondragstart="drag(event)" data-type="1">
						<div class="text"><i class="fa fa-list-ol"></i> abccas</div>
						<div class="delete"><i class="fa fa-times"></i></div>
					</li>
					<li id="c5" class="components" draggable="true" 
					ondragstart="drag(event)" data-type="1">
						<div class="text"><i class="fa fa-list-ol"></i> abccas</div>
						<div class="delete"><i class="fa fa-times"></i></div>
					</li>
					
					<div class="clear"></div>
				</ul>
			</div>

			<div class="histogram-box">
				<div class="histogram-drop">
					<div class="histogram-objects">
						<div class="drop-header"><i class="fa fa-bar-chart"></i> Histogram label</div>
						<div class="drop-detail">Only drop box with date/time or label data</div>
						<ul id="drop-object" class="drop" ondrop="drop(event)" ondragover="allowDrop(event)"></ul>
					</div>
					<div  class="histogram-data">
						<div class="drop-header"><i class="fa fa-database"></i> Histogram data</div>
						<div class="drop-detail">Only drop box with numberic data</div>
						<ul id="drop-data" class="drop" ondrop="drop(event)" ondragover="allowDrop(event)"></ul>
					</div>
				</div>

				<div class="histogram">
					<canvas id="chart" width="600" height="400" ></canvas>
				</div>

				<div class="clear"></div>
			</div>

		</div>
	</div>

<div class="clear"></div>

<button id="get" ng-click="click()"  style="width: 100px;height: 50px;">{{var}}
</button>



	
</div>

<script type="text/javascript"
	src="../../node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="../js/Chart.min.js"></script>
	<script src="../../node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
	<script type="text/javascript" src="../js/my-script.js"></script>
</body>
</html>